.react-multiple-carousel__arrow--right {
  right: unset !important;
  left: calc(95% + 1px);
}

.react-multiple-carousel__arrow--left {
  left: calc(90% + 1px) !important;
}

.react-multiple-carousel__arrow {
  top: 0 !important;
}
